<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="shopdaily.dev.accordhk.com.shopdaily">


    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:name=".Uility.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"

        android:theme="@style/AppTheme">

        <activity android:name=".Activity.temp"></activity>

        <activity
            android:name=".Activity.monthly_subscription"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".Activity.adHoc_Activity"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".Activity.shopStatus_Activity"
            android:theme="@style/AppTheme.NoActionBar"></activity>


        <activity
            android:name=".Activity.advertisementMonthly"
            android:theme="@style/AppTheme.NoActionBar"></activity>


        <activity android:name=".Activity.ForgotPassword"></activity>

        <activity
            android:name=".Activity.Splash"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.LoginEmail"
            android:label="@string/app_name">

        </activity>

        <activity
            android:name=".Activity.LoginPage"
            android:label="@string/app_name"></activity>


        <activity
            android:name=".Activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity android:name=".Activity.SignUp"></activity>

        <activity android:name=".Activity.SignUpSuccess"></activity>

        <activity
            android:name=".Activity.Shop_details"
            android:theme="@style/AppTheme.NoActionBar"></activity>


        <activity
            android:name=".Activity.MapsActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".Activity.profile_shop_owner_edit"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".Activity.profile_shop_edit"
            android:theme="@style/AppTheme.NoActionBar"></activity>


        <activity
            android:name=".Activity.ChangePasswordActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".Activity.Post_feed_Activity"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".Activity.Special_Activity"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".Activity.Gallery_Activity"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".Activity.setting_Activity"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".Activity.Contact_Us_Activity"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".Activity.Shop_details_feed"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".Activity.QA_list_Activity"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <activity
            android:name=".Uility.CustomPhotoGalleryActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>




        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />


    </application>

</manifest>